<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Ambientes inmersivos: ¿cómo hacer real lo virtual?</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/white.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<img class="logo">
			<!--<img class="logo itm">-->
			<!-- Initial Slide -->

			<section>

				<img src="../images/logoo.fw.png" style="height: 7em; width: auto;">
				<!--<h2 style="font-size:2.5em;"> <b>Ambientes inmersivos</b>
				</h2>
				<span style="font-size:2em;">¿cómo hacer real lo virtual?</span>-->
			</section>
			<!-- Body -->
			<section>
				<section>
					<t class="fragment fade-up">Tele-transporte</t> <br>
					<t class="fragment fade-up">Hologramas</t> <br>
				</section>
				<section data-background-image="../images/riftbackground.png">
					<t>Presencia</t>
				</section>
			</section>


			<section>
				<section>
					<div style="font-size:2.0em;">¿cómo hacer <span style="font-size:1.4em;color: red"><strong>real</strong></span> lo
						<span style="font-size:1.4em; color: red"><b>virtual</b></span>?</div>
				</section>

				<section>
					<img src="../images/logocis.fw.png" style="height: 7em; width: auto;">
				</section>
			</section>

			<section>
				<section>
					<div style="font-size:2.5em;">Modelando el <span style="color: red"><strong>Mundo real</strong></span></div>
				</section>
				<section>
					<ul>
						<li class="fragment fade-up">Fenomenos Naturales</li>
						<li class="fragment fade-up">Fisica vs Visualizacion</li>
					</ul>
				</section>
				<section>
					<iframe class="stretch" id="chart-frame-1" data-chart></iframe>
				</section>
				<section>
					<div style="font-size:2.5em;">Plausibilidad</div>
				</section>

				<section data-background-color="#000" data-background-video-muted="" data-background-video="Video/animation.mp4"
				 data-background-video-loop="">
				</section>

				<section data-background-color="#ffffff" data-background-video-muted="" data-background-video="Video/pbf.mp4"
				 data-background-video-loop="">
					<div id="panel" class="fragment fade-up">
						<h2 style="color: white"> PBD </h2>
						<p> Position-Based Dynamics </p>
					</div>
				</section>

				<section data-background-color="#ffffff" data-background-video-muted="" data-background-video="Video/PBD.mp4"
				data-background-video-loop="">
					<div id="panel" style="margin: auto;" class="fragment fade-up">
						<div id="left">
							<p style="font-size:.7em;">
								<strong>2018</strong> Heat-based bidirectional phase shifting simulation using position-based dynamics
							</p>
						</div>
						<div id="rigth">
							<p style="font-size:.7em;">
								<b> VILLA SALAZAR </b>; TICONA, J ; TORCHELSEN, R;NEDEL, L; MACIEL, A
							</p>
						</div>
					</div>
				</section>

				<section>
					Real Time RayTracing
				</section>
			</section>

			<section>
				<section>
					<div style="font-size:2.5em;">Renderizando el <span style="color: red"><strong>Mundo virtual</strong></span></div>
					<div style="font-size:1.5em;">Vision - Audio</div>
				</section>
				<section data-background-video-muted="" data-background-video="http://www.inf.ufrgs.br/~vajoliveira/3DAthlon.mp4"
				 data-background-video-loop="">
					VIDEO 3DATLHON
				</section>
				<section>

				</section>
			</section>

			<section>
				<section>
					<div style="font-size:2.5em;">Renderizando el <span style="color: red"><strong>Mundo virtual</strong></span></div>
					<div style="font-size:1.5em;">Haptica</div>
				</section>
				<section data-background-video="Video/ultrahaptics.mp4" data-background-video-loop data-background-video-muted="">
					<h2 class="fragment fade in" id="panel">ULTRAHAPTICS CHALLENGE, PISA-ITALIA 2018</h2>
					<img src="../images/twoway1.jpg" style="height: 7em; width: auto;" class="fragment fade in">
					<img src="../images/twoway2.jpg" style="height: 7em; width: auto;" class="fragment current-visible">
				</section>
				<section data-background-color="#ffffff" data-background-video-muted="" data-background-video="Video/UHvideo.mp4"
				data-background-video-loop="">
			
				</section>
				<section data-background-video="Video/tool.mp4" data-background-video-loop data-background-video-muted="">
					<div id="panel" class="fragment fade-up" style="margin: auto;">
						<p>
							INTEGRATING PHYSICS-BASED AND DATA-DRIVEN METHODS TO ACCURATELY MODEL HAPTIC TEXTURES
						</p>
						<p>
							<strong>VILLA SALAZAR</strong>; MACIEL, A</p>
					</div>
				</section>
			</section>

			<section>
				<section>
					<div style="font-size:2.5em;">Aplicacion <span style="color: red"><strong>Industrial</strong></span></div>
				</section>
				<section data-background-color="#ffffff">
					<img src="../images/Logomarca-da-Petrobras-Distribuidora-BR-777x437.jpg" style="height: 7em; width: auto;">
				</section>
				<section data-background-color="#ffffff">
					<span style="font-size:2.5em;color: #008542"><strong>Annelida</strong></span>
				</section>
				<section data-background-color="#ffffff" data-background-video="Video/petrobras.mp4" data-background-video-loop>

					<p id="panel" class="fragment fade in">Interfaz tangible de control para ambientes explosivos</p>
					<p id="panel" class="fragment fade in">Definicion de hardware para ambientes explosivos</p>

				</section>
			</section>

			<!-- Ending -->
			<section data-autoslide="400">
				<div style="font-size:1.5em;">Steeven <b>Villa</b> <br></div>
				<div class="fragment fade-up" style="margin: auto;">
					<div id="left">
						<p style="font-size:2.2em;">
							<strong>steeven<span style="color: red">v</span>.com</strong></p>
					</div>
					<div id="rigth" style="text-align: left;">
						<div class="fragment fade-up" style="font-size:1.5em;">/#work<br></div>
						<div class="fragment fade-up" style="font-size:1.5em;">/#research<br></div>
					</div>
				</div>
				<img src="../images/qr.png" style="height: 10em; width: auto;" class="fragment current-visible">
			</section>



		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
		Reveal.initialize({
			transition: 'slide',
			width: 960 * 1.2,
			height: 700 * 1,
			history: true,

			// Chart.min.js

			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
				{ src: 'plugin/chartjs/Chart.min.js' },
				// the plugin
				{ src: 'plugin/chartjs/charted.js' }
			],
			chart: {
				// Taken from chartjs documentation

				items: [
					{
						selector: "#chart-frame-1",
						type: "bar",
						data: {
							labels: ["Exacto", "Impreciso", "Plausible"],
							datasets: [
								{
									label: "Fidelidad",
									fillColor: "rgba(250,0,0,0.6)",
									strokeColor: "rgba(220,220,220,0.8)",
									highlightFill: "rgba(220,220,220,0.75)",
									highlightStroke: "rgba(220,220,220,1)",
									data: [25, 80, 45]
								},
								{
									label: "Velocidad",
									fillColor: "rgba(100,100,100,0.6)",
									strokeColor: "rgba(220,220,220,0.8)",
									highlightFill: "rgba(220,220,220,0.75)",
									highlightStroke: "rgba(220,220,220,1)",
									data: [75, 20, 55]
								}
							]
						},
						options: {
							responsive: true,
							multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>",
							legend: {
								display: true,
								position: 'top'
							}
						}
					}
				]
			}
		});
	</script>
</body>

</html>