.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: rgb(54, 54, 54);
	color: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.meny ul {
	margin-top: 10px;
}

.meny ul li {
	display: inline-block;
	width: 200px;
	list-style: none;
	font-size: 20px;
	padding: 3px 10px;
}

.meny ul li:before {
	content: '-';
	margin-right: 5px;
	color: rgba( 255, 255, 255, 0.2);
}

.meny-arrow {
	position: absolute;
	z-index: 10;
	border: 10px solid transparent;
	-webkit-transition: opacity 0.4s ease 0.4s;
	-moz-transition: opacity 0.4s ease 0.4s;
	-ms-transition: opacity 0.4s ease 0.4s;
	-o-transition: opacity 0.4s ease 0.4s;
	transition: opacity 0.4s ease 0.4s;
}

.meny-left .meny-arrow {
	left: 14px;
	top: 50%;
	margin-top: -16px;
	border-left: 16px solid #333;
}

.meny-right .meny-arrow {
	right: 14px;
	top: 50%;
	margin-top: -16px;
	border-right: 16px solid #333;
}

.meny-top .meny-arrow {
	left: 50%;
	top: 14px;
	margin-left: -16px;
	border-top: 16px solid #333;
}

.meny-bottom .meny-arrow {
	left: 50%;
	bottom: 14px;
	margin-left: -16px;
	border-bottom: 16px solid #333;
}

.meny-active .meny-arrow {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.meny input[type="submit"], .meny input[type="reset"], .meny input[type="button"], .meny button, .meny .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: 300;
	height: 2.75rem;
	letter-spacing: 0.2rem;
	line-height: 2.75rem;
	outline: 0;
	padding: 0 1.25rem 0 1.35rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

.meny input[type="submit"]:hover, .meny input[type="reset"]:hover, .meny input[type="button"]:hover, .meny button:hover, .meny .button:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

.meny input[type="submit"]:active, .meny input[type="reset"]:active, .meny input[type="button"]:active, .meny button:active, .meny .button:active {
	background-color: rgba(255, 255, 255, 0.175);
}

.meny input[type="submit"].icon:before, .meny input[type="reset"].icon:before, .meny input[type="button"].icon:before, .meny button.icon:before, .meny .button.icon:before {
	margin-right: 0.5em;
}

.meny input[type="submit"].fit, .meny input[type="reset"].fit, .meny input[type="button"].fit, .meny button.fit, .meny .button.fit {
	display: block;
	margin: 0 0 1rem 0;
	width: 100%;
}

.meny input[type="submit"].special, .meny input[type="reset"].special, .meny input[type="button"].special, .meny button.special, .meny .button.special {
	background-color: #ffffff;
	color: #1b1f22 !important;
	font-weight: 600;
}

.meny input[type="submit"].mini, .meny input[type="reset"].mini, .meny input[type="button"].mini, .meny button.mini, .meny .button.mini {
	padding: 0 0.25rem 0 0.35rem;
	line-height: 1.5rem;
	height: 1.5rem;
}

.meny input[type="submit"].disabled, .meny input[type="submit"]:disabled, .meny input[type="reset"].disabled, .meny input[type="reset"]:disabled, .meny input[type="button"].disabled, .meny input[type="button"]:disabled, .meny button.disabled, .meny button:disabled, .meny .button.disabled, .meny .button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	cursor: default;
	opacity: 0.25;
}

.meny input[type="submit"], .meny input[type="reset"], .meny input[type="button"], .meny button {
	line-height: calc(2.75rem - 2px);
}